@charset "UTF-8";

body {
    background-color: rgb(0, 0, 0);
}
main {
    width: 600px;
    padding: 5px;
    margin: auto;
    border-radius: 1.5%;
    background-color: white;
    box-shadow: 5px 5px 10px #3c2f8043;
}
h1 {
    text-align: center;
    color: #1b7e89;
    text-shadow: 1px 1px 2px #10494f7a;
}
p {
    text-align: center;
}